<section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-6">
  @for (pokm of pokemon() ?? []; track pokm.id) {
    <article
      class="flex flex-col items-center gap-3 rounded-2xl border-2 border-pokedex-glow bg-pokedex-blue/20 p-4 shadow-[0_0_8px_var(--color-pokedex-glow)]"
    >
      {{ pokm.name }}
    </article>
  } @empty {
    <article
      class="flex flex-col items-center gap-3 rounded-2xl border-2 border-pokedex-glow bg-pokedex-blue/20 p-4 shadow-[0_0_8px_var(--color-pokedex-glow)]"
    >
      <div class="size-24 animate-pulse rounded-full bg-pokedex-glow/20"></div>
      <div class="h-3 w-20 animate-pulse rounded bg-pokedex-glow/30"></div>
    </article>
  }
</section>
